.headersection {background: #0d4619 none repeat scroll 0 0;}
.searchbtn input[type="text"] {border: 1px solid #0E1210;background:#e9f2ef;}
.icon a {background: #250606 none repeat scroll 0 0;} 
.icon a:hover {background: #f4e4e4 none repeat scroll 0 0;} 
input[type="submit"] {background: #225c0e none repeat scroll 0 0;}
.searchbtn input[type="submit"] {border: 1px solid #259d21;}
.searchbtn input[type="submit"]:hover {background: #06200b none repeat scroll 0 0;border: 1px solid #29ec23;}
.navsection {background: none repeat scroll 0 0 #283059;}

.navsection ul li {border-left: 2px solid #080707;border-right: 2px solid #010911;}